<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/authentication.css') }}">
</head>

<body>
    <div class="parent">
        <div class="authentication-container">
            <input type="email" placeholder="Username or email" id="username">
            <br><br>
            <input type="password" placeholder="Password" id="password">
            <br>
            <p id="error_msg"></p>
            <button onclick="login()">Log in</button>
            <br><br>
            <div>Don't have an account? <a href="/signup">sign up</a></div>
        </div>
    </div>
    <script>
        function login() {
            const usernameOrEmail = document.getElementById("username").value;
            const password = document.getElementById("password").value;
            const errorMsg = document.getElementById('error_msg');

            if (!usernameOrEmail || !password) {
                errorMsg.textContent = "Username/Email and password are required";
                return;
            }

            fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    usernameOrEmail: usernameOrEmail,
                    password: password
                }),
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        window.location.href = '/';
                    } else {
                        errorMsg.textContent = data.message || "Username/Email or password is incorrect";
                    }
                })
                .catch(error => {
                    errorMsg.textContent = "An error occurred. Please try again.";
                    console.error('Error:', error);
                });
        }

        // Add event listener for Enter key
        document.getElementById("password").addEventListener("keydown", function (event) {
            if (event.key === "Enter") {
                login();
            }
        });
    </script>
</body>

</html>